.friendMessage {
    margin: 0 0 55px 0;
    
}

.friendImageAndText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.friendText {
    background-color: #F5F7FB;
    border-radius: 10px;
    margin: 0 0 0 14px;
    padding: 8px 12px;
    color: #000000;

}

.friendText:after {

}

.friendName {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 600;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}

.friendTime {
    display: flex;
    justify-content: flex-start;
    margin: 2px 0 0 11px;
    font-size: 10px;
    font-weight: 700;
}
